.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/Waves.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  padding: 20px;
}

.top {
  width: 100%;
}

.title {
  font-size: 56px;
  font-weight: 800;
  line-height: 61.6px;
  text-align: left;
  margin-bottom: 20px;
  width: 100%;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  width: 100%;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.iconsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.iconButton {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 16px;
  width: 256px;
  height: 56px;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.iconButton:hover {
  box-shadow: 0px 0px 8px 0px #00000024;
  border-radius: 8px;
  background-color: #FFFFFF;
}

.iconButton img {
  width: 24px;
  height: 24px;
}

.imagesContainer img {
  max-width: 100%;
  height: auto;
}

.arrowIcon {
  position: absolute;
  right: 16px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.iconButton:hover .arrowIcon {
  opacity: 1; 
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-top: 40px;
    height: 640px;
  }

  .title {
    width: 100%;
    font-size: 32px;
    text-align: center;
  }

  .subtitle {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }

  .bottom {
    flex-direction: column;
  }

  .iconsContainer {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .iconButton {
    width: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    position: relative;
  }

  .iconButton:hover {
    box-shadow: 0px 0px 8px 0px #00000024;
    border-radius: 8px;
    background-color: #FFFFFF;
  }

  .arrowIcon {
    position: absolute;
    right: 16px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .iconButton:hover .arrowIcon {
    opacity: 1; /* Show arrow icon on hover */
  }
}
