.header {
  @apply flex bg-[#fefbeb] text-[#783510] h-[96px] px-20 py-6;
}

.headerInner {
  @apply flex flex-row w-full items-center justify-between gap-4;
}

.title {
  @apply font-bold text-[32px] px-4 py-2 rounded-md;
}

.menuWrapper {
  @apply flex gap-3;
}
.menuButton {
  @apply p-2 rounded-md;
  display: block;
}

.menuLink {
  @apply text-lg font-medium px-3 py-2 rounded-md;
}

.button {
  @apply text-lg font-medium px-4 py-2 rounded-md border-2 border-[#78350F];
}

.menuScale {
  @apply text-lg font-medium px-3 py-2 rounded-md;
}

@media (max-width: 768px) {
  .header {
    @apply flex bg-[#fff] h-[67px] pl-0 py-0 justify-between;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .headerInner {
    @apply px-4;
  }
  .title {
    @apply text-[32px];
  }
  .menuButton {
    @apply hidden;
  }
  .menuLink {
    @apply hidden;
  }
  .button {
    @apply hidden;
  }
}
