.container {
  width: 100%;
  height: 816px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffcf2;
  padding: 40px;
}

.containerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  height: 496px;
  position: relative;
  border-radius: 30px;
  padding: 40px;
  background-color: #ffffff;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  gap: 16px;
}

.title {
  font-size: 56px;
  font-weight: 800;
  line-height: 61.6px;
  text-align: left;
}

.subtitle {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
}

.text {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.icon {
  margin-right: 8px;
}

.button {
  width: 180px;
  height: 56px;
  border-radius: 8px;
  border: 2px solid #78350f;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #78350f;
  font-size: 20px;
  font-weight: 500;
}

.sectionSvg {
  position: absolute;
  right: 0;
  top: -50px;
  overflow: visible;
  width: 713px;
  height: 625.24px;
}

.videoSvg {
  position: absolute;
  right: 50px;
  top: 100px;
  z-index: 1;
  width: 520px;
  height: 350px;
  border-radius: 20px 0px 0px 0px;
  border: 5px 0px 0px 0px;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 393px;
    height: 689px;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .content {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .title {
    font-size: 32px;
    line-height: 35.2px;
    margin-bottom: 20px;
  }

  .subtitle {
    justify-content: center;
    align-items: center;
  }

  .containerInner {
    display: flex;
    flex-direction: column;
    width: 361px;
    height: 617px;
  }

  .sectionInner {
    padding: 0;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
  }

  .text {
    font-size: 16px;
    line-height: 22.4px;
    width: 329px;
  }

  .sectionSvg {
    top: auto;
    bottom: -60px;
    width: 440.18px;
    height: 386px;
  }

  .videoSvg {
    top: auto;
    bottom: 20px;
    height: 234px;
  }
}
