.sliderCard {
  background: #ffffff;
  width: 384px;
  height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 16px 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 40px;
}

.icon {
  width: 320px;
  height: 64px;
}

.description {
  font-size: 24px;
  text-align: left;
  padding: 20px 20px;
}

.imageWrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 20px 20px;
}

.image {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 100px;
  opacity: 1;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.title {
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
}

.subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: #475569;
}

@media (max-width: 768px) {
  .sliderCard {
    width: 361px;
    height: 296px;
  }

  .icon {
    width: 271px;
    height: 64px;
  }

  .description {
    font-size: 16px;
  }
}
